<div class="cart">
  <div class="container">
    <div class="banner"><h2><%= t('nav.checkout') %></h2></div>
    <table class="table table-bordered">
    <thead><tr>
      <th class="col-sm-6"><%= t('cart.name') %></th>
      <th class="col-sm-3 text-center"><%= t('cart.quantity') %></th>
      <th class="col-sm-3 text-right"><%= t('cart.price') %></th>
    </tr></thead>
    <tbody>
      <% @cart.item_list.each do |sku, item| %>
      <tr>
        <td>
          <%= link_to home_show_path(item.uri, sku) do %>
            <%= item.name %>
          <% end %>
          <span class="pull-right">$<%= "%.2f" % item.price %></span>
        </td>
        <td class="text-center"><%= item.count %></td>
        <td class="text-right">$<%= "%.2f" % item.total %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot><tr>
      <th><%= t('cart.total') %></th>
      <th class="text-center"><%= @cart.count %></th>
      <th class="text-right">$<%= "%.2f" % @cart.total %></th>
    </tr></tfoot>
    </table>

    <hr/>
    <div class="row">
    <%= simple_form_for @order, :url => cart_convert_path do |f| %>
      <div class="col-sm-4">
        <%= f.input :delivery, :collection => Order.delivery_options, :as => :radio_buttons, :value_method => :first, :label_method => :second, :wrapper => :radio %>
      </div>
      <div class="col-sm-4">
        <%= f.input :shipping, :collection => Order.shipping_options, :as => :radio_buttons, :value_method => :first, :label_method => :second, :wrapper => :radio %>
      </div>
      <div class="col-sm-4">
      <%= f.input :address, :as => :text, :input_html => {:class => 'form-control'} %>
      </div>
      <div class="col-sm-12 text-center">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
