<div class="cart">
  <div class="container">
    <div class="banner"><h2><%= t('nav.cart') %></h2></div>
    <table class="table table-bordered">
    <thead><tr>
      <th class="col-sm-5"><%= t('cart.name') %></th>
      <th class="col-sm-4 text-center"><%= t('cart.quantity') %></th>
      <th class="col-sm-3 text-right"><%= t('cart.price') %></th>
    </tr></thead>
    <tbody>
      <% @cart.item_list.each do |sku, item| %>
      <tr>
        <td>
          <%= link_to home_show_path(item.uri, sku) do %>
            <span class="dish" data-toggle="tooltip" data-placement="bottom"
            data-title="<%= render_title item %>">
              <%= item.name %>
            </span>
          <% end %>
          <span class="pull-right">$<%= "%.2f" % item.price %></span>
        </td>
        <td class="row cart_quantity">
          <div class="col-xs-4 col-sm-4 text-right">
            <%= link_to cart_update_path(:sku => sku, :do => 'remove') do %>
              <i class="fa fa-minus"></i>
            <% end %>
          </div>
          <div class="col-xs-4 col-sm-2 text-right"><%= item.count %></div>
          <div class="col-xs-4 col-sm-3">
            <%= link_to cart_update_path(:sku => sku, :do => 'add') do %>
              <i class="fa fa-plus"></i>
            <% end %>
          </div>
          <div class="col-sm-3 hidden-xs text-right">
            <%= link_to cart_update_path(:sku => sku, :do => 'delete') do %>
              <i class="fa fa-close"></i>
            <% end %>
          </div>
        </td>
        <td class="text-right">$<%= "%.2f" % item.total %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot><tr>
      <th><%= t('cart.total') %></th>
      <th class="text-center"><%= @cart.count %></th>
      <th class="text-right">$<%= "%.2f" % @cart.total %></th>
    </tr></tfoot>
    </table>
    <% if @cart.total >= 0.01 %>
      <%= link_to t('nav.checkout'), cart_checkout_path, :class => 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>
