<div class="inner-menu">
  <div class="container">
    <div class="banner"><h2><%= t('nav.menu') %></h2></div>
    <div class="row">
    <% @categories.each_with_index do |c, i| %>
      <div class="col-md-4 col-sm-6">
        <div class="menu-list">
          <h3><%= link_to home_list_path(c.uri) do %>
            <%= c.chinese %> / <%= c.english %>
            <% end %>
          </h3>
          <img class="img-responsive" src="img/menu/<%= c.uri %>.jpg" alt="">
          <% c.dishes.each do |dish| %>
            <div class="menu-list-item <%= dish == c.dishes.last ? 'border-zero' : '' %>">
              <!-- Heading / Dish name -->
              <h4 class="pull-left">
                <%= link_to home_show_path(c.uri, dish.sku) do %>
                  <%= dish.local_name %>
                <% end %>
              </h4>
              <%= link_to fa_icon('cart-plus lg'), cart_addsku_path(dish.sku, :js => true), :class => 'text-primary cartplus' %>
              <!-- Dish price -->
              <span class="price pull-right">$<%= "%.2f" % dish.price %></span>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div>
      <% if i.odd? %>
        <div class="clearfix_2col"></div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
