<div class="shopping">
  <div class="container">
    <div class="banner"><h2><%= @category.local_name %></h2></div>
    <div class="shopping-content">
      <div class="row">
      <% @category.dishes.each do |dish| %>
        <div class="col-lg-4 col-sm-6">
          <!-- Shopping items -->
          <div class="shopping-item">
            <!-- Image -->
            <%= link_to home_show_path(@category.uri, dish.sku) do %>
              <img class="img-responsive" src="/img/dish/dish.jpg" alt="" />
            <% end %>
            <!-- Shopping item name / Heading -->
            <h4 class="pull-left">
              <%= link_to home_show_path(@category.uri, dish.sku) do %>
                <%= dish.local_name %>
              <% end %>
            </h4>
            <span class="item-price pull-right">$<%= "%.2f" % dish.price %></span>
            <div class="clearfix"></div>
            <!-- Paragraph -->
            <p><%= dish.description %></p>
            <!-- Buy now button -->
            <div class="visible-xs">
              <a class="btn btn-danger btn-sm" href="#"><%= t('cart.add_to_cart') %></a>
            </div>
            <!-- Shopping item hover block & link -->
            <div class="item-hover br-red hidden-xs"></div>
            <%= link_to t('cart.add_to_cart'), cart_addsku_path(dish.sku), :class => 'link hidden-xs' %>
            <!-- Hot tag -->
            <!--span class="hot-tag br-green">New</span-->
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
