<div class="single-item">
  <div class="container">
    <!-- Shopping single item contents -->
    <div class="single-item-content">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <!-- Product image -->
          <img class="img-responsive img-thumbnail" src="/img/dish/dish.jpg" alt="">
        </div>
        <div class="col-md-7 col-sm-6">
          <!-- Heading -->
          <h3><%= @dish.local_name %></h3>
          <div class="row">
            <div class="col-xs-7">
              <%= link_to fa_icon('cart-plus lg', :text => t('cart.add_to_cart')), cart_addsku_path(@dish.sku), :class => 'btn btn-danger' %>
            </div>
            <div class="col-xs-5"><span class="item-price">$<%= "%.2f" % @dish.price %></span></div>
          </div>
          <!-- Single item details -->
          <div class="item-details">
            <!-- Paragraph -->
            <p class="text-justify"><%= @dish.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
