<div class="cart" id="orders">
  <div class="container">
    <div class="banner"><h2><%= t('nav.orders') %></h2>
    <%= link_to t('order.settings'), setting_orders_path, :class => 'btn btn-default pull-right' %>
    </div>
    <table class="table table-bordered">
    <thead><tr>
      <th class="col-sm-1">ID</th>
      <th class="col-sm-3 text-center">Date</th>
      <th class="col-sm-5">Content</th>
      <th class="col-sm-3 text-right">Price</th>
    </tr></thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td>#<%= order.id %> <span class="show-xs hidden-sm hidden-md hidden-lg text-primary"><%= time_to_s order.created_at %></span></td>
        <td class="text-center hidden-xs"><%= time_to_s order.created_at %></td>
        <td><%= link_to order_path(order) do %>
          <% order.order_items.each do |i| %>
            <span class="dish" data-toggle="tooltip" data-placement="bottom"
            data-title="<%= render_title i.dish %>">
            <%= i.dish.local_name %>
            <% if i.count > 1 %>
              x<%= i.count %>
            <% end %></span>
          <% end %>
        <% end %></td>
        <td class="text-right">
        <%= show_label order %>
        $<%= "%.2f" % order.total %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <div class="row">
    <%= will_paginate @orders, :class => 'pull-right', :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
</div>
