<div class="cart booking-form">
  <div class="container">
    <div class="banner"><h2><%= t('order.settings') %></h2></div>

<%= simple_form_for(current_user, url: setting_orders_path) do |f| %>
  <div class="form-inputs">
    <%= f.input :mobile, required: false, autofocus: true %>
    <%= f.input :address, required: false %>
    <%= f.input :wechat, required: false %>
    <%= f.input :birthday, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>

  </div>
</div>
