<div class="cart">
  <div class="container">
    <div class="banner">
      <%= link_to fa_icon('chevron-left', :text => t('order.back')), orders_path, :class => 'btn btn-primary btn-sm pull-left' %>
      <h2>Order <%= @order.id %></h2>
      <span class="pull-right">
        <%= show_label @order %>
      </span>
    </div>
    <table class="table table-bordered">
    <thead><tr>
      <th class="col-sm-6"><%= t('cart.name') %></th>
      <th class="col-sm-3 text-center"><%= t('cart.quantity') %></th>
      <th class="col-sm-3 text-right"><%= t('cart.price') %></th>
    </tr></thead>
    <tbody>
      <% @order.order_items.each do |i| %>
      <tr>
        <td>
          <span class="dish" data-toggle="tooltip" data-placement="bottom"
          data-title="<%= render_title i.dish %>">
          <%= i.dish.local_name %>
          </span>
        </td>
        <td class="text-center"><%= i.count %></td>
        <td class="text-right">$<%= "%.2f" % (i.total) %></td>
      </tr>
      <% end %>
      <tr>
        <td><%= @order.delivery %></td>
        <td></td>
        <td class="text-right">$<%= "%.2f" % @order.shipping %></td>
      </tr>
    </tbody>
    <tfoot><tr>
      <th>Total:</th>
      <th></th>
      <th class="text-right">$<%= "%.2f" % @order.total %></th>
    </tr>
      <% @order.valid_payments.each do |p| %>
      <tr class="success">
        <td>PayPal: <%= p.payment_id %></td>
        <td></td>
        <td class="text-right">$<%= "%.2f" % p.amount %></td>
      </tr>
      <% end %>
    </tfoot>
    </table>
    <div class="pull-right">
      <% if !@order.paid? && !@order.expired? %>
        <%= link_to fa_icon('cc-paypal 2x', :text => t('cart.pay'), :class => 'text-primary'), pay_order_path(@order), :class => 'btn btn-default' %>
      <% end %>
      <%= link_to fa_icon('cart-plus lg', :text => t('cart.add_to_cart')), cart_order_path(@order), :class => 'btn btn-default' %>
    </div>
  </div>
</div>
