/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import 'bootstrap';
@import 'less-style';
@import 'style';
@import 'cart';
@import 'dish';
@import 'order';

.single-item span.item-price {
  display: inline-block; 
  margin-top: 4px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #f75353;
}

.contact-details {
  margin-top: 12px;
}
.footer .footer-widget {
  margin-bottom: 20px;
}

.cart .dish {
  border-bottom: 1px dotted #777;
  margin: 2px;
  cursor: pointer;
}

.fa {
  vertical-align: middle;
}

.label.label-normal { 
  background: #72c8de;
}

.cartplus {
  margin-left: 8px;
}

@media (max-width: 991px) {
  .header .container {
    width: 100%;
  }
  .clearfix_2col {
    clear: both;
  }
}

@media (max-width: 767px) {
  td.cart_quantity > div {
    float: left;
    padding: 4px;
  }
  ul.nav {
    margin: 0;
  }
  ul.nav > li {
    float: left;
  }
}
