.tooltip {
  font-size: 14px;
  .tooltip-inner {
    width: 240px;
    max-width: none;
    color: black;
    text-align: left;
    padding: 8px;
    background: rgba(221,227,255,0.95);
    border: rgba(75,75,75,0.84) 2px solid;
    div {
      margin-bottom: 4px;
    }
    .tooltip-item-name {
      color: #0070DD;
      font-size: 16px;
      font-weight: 700;
    }
  }
}