@media (max-width: 767px) {
  #orders {
    thead {
      display: none;
    }
    td {
      display: block;
      border-top: none;
    }
    tr {
      border-bottom: #428bca 1px solid;
    }
  }
  
}

