<div class="footer padd">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-xs-8">
        <div class="footer-widget">
          <div class="contact-details row">
            <div class="col-sm-4">
              <i class="fa fa-map-marker br-red"></i> <span>155 NW Kings Blvd<br>Corvallis, OR 97330</span>
              <div class="clearfix"></div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-phone br-green"></i> <span>(609) 865-5016</span>
              <div class="clearfix"></div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">i[at]yihotpot.com</a></span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4">
        <div class="footer-widget">
          <div class="social">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright">
      <!-- Paragraph -->
      <p>© Copyright 2014 Number One Hot Pot</p>
    </div>
  </div>
</div>
