<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-5 col-xs-12">
        <!-- Link -->
        <a href="/">
          <!-- Logo area -->
          <div class="logo">
            <!--img class="img-responsive" src="img/logo.png" alt=""-->
            <h1>壹号火锅</h1>
            <p>Chinese foods.</p>
          </div>
        </a>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-12">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-right" role="navigation">
          <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
              <li><%= link_to root_path do %><img src="/img/nav/menu.jpg" class="img-responsive" alt=""><%= t('nav.menu') %><% end %></li>
              <li><%= link_to orders_path do %><img src="/img/nav/order.jpg" class="img-responsive" alt=""><%= t('nav.orders') %><% end %></li>
              <li><%= link_to cart_index_path do %><img src="/img/nav/cart.png" class="img-responsive" alt=""><%= t('nav.cart') %><% end %></li>
              <li><a href="/about"><img src="/img/nav/about.jpg" class="img-responsive" alt=""><%= t('nav.about') %></a></li>
            </ul>
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</div>
