<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + ' - ' : '' %>Hot Pot</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="wrapper">
  <%= render 'navbar' %>
  <div class="inner-page container">
  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>
  <%= yield %>
  </div>
</div>

<%= render 'footer' %>
</body>
</html>
